.mock-container{

padding:30px;

}

.mock-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

flex-wrap:wrap;



}

.header-right{

display:flex;

gap:12px;

}

.header-right input{

width:240px;

padding:10px 15px;

border:1px solid #ddd;

border-radius:10px;

outline:none;

}

.header-right select{

padding:10px 15px;

border:1px solid #ddd;

border-radius:10px;

}

.mock-card{

display:flex;

align-items:center;

justify-content:space-between;

background:white;

padding:20px  25px;

border-radius:18px;

margin-bottom:18px;

box-shadow:0 8px 20px rgba(0,0,0,.06);

transition:.3s;

}

.mock-card:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.icon{

width:55px;

height:55px;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

font-size:24px;

margin-right:20px;

}

.icon-0{

background:#ffe8ef;

}

.icon-1{

background:#fff4dd;

}

.icon-2{

background:#e8fff0;

}

.icon-3{

background:#eaf3ff;

}

.test-info{

flex:1;

}

.test-info h4{

font-size:18px;

margin-bottom:5px;

font-weight:700;

}

.test-info p{

margin:0;

color:#777;

font-size:14px;

}

.test-meta{

display:flex;

gap:40px;

font-weight:600;

color:#555;

}

.start-btn{

background:#2962ff;

color:white;

padding:12px 28px;

border-radius:10px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.start-btn:hover{

background:#0d47a1;

color:white;

}

@media(max-width:768px){

.mock-card{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

.test-meta{

width:100%;

justify-content:space-between;

}

.header-right{

width:100%;

flex-direction:column;

}

.header-right input{

width:100%;

}

.start-btn{

width:100%;

text-align:center;

}

}